<!DOCTYPE html>

<meta charset="UTF-8">
<title>TinyApp</title>
<link rel='shortcut icon' type='image/x-icon' href='https://goo.gl/p19ZNS' />
<font face="Comic sans MS"; color='lime';>
  <h5><marquee>HEADER</marquee></h5>
  <ul><a href="/urls/new">Home</a>   <a href="/urls">List of URLS</a>  <a href='/urls/new'>Link Shortener </a></ul>
</font>
