<!DOCTYPE html>

<meta charset='UTF-8'>
<title>TinyApp</title>
<link rel='shortcut icon' type='image/x-icon' href='https://goo.gl/p19ZNS'/>

<font face='Comic sans MS';>
  <h1>TinyApp URL Shortener</h1>
  <a href='/urls'>URLS</a>
  <a href='/urls/new'>Link Shortener</a>
  <%if (user_id !== undefined){%>
    <h4>Hello there, <%=user_id.email%></h4>
    <form action='/logout' method='POST' style='margin:5px;'>
      <input type='submit' value='Logout'>
  <% } else {%>
    <a href='/register'>Sign Up</a>
    <a href='/login'>Login</a>
  <%}%>
  <br>
</font>
