

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_header %>
</head>
<body>
  <h1>Cat Room Guardian </h1>
  <a href='urls/new'>Link Shortener </a>
  <img src='https://imgflip.com/s/meme/Persian-Cat-Room-Guardian.jpg'>
  <img src='http://i.imgur.com/s63WQPP.jpg'>
</body>
</html>