<!DOCTYPE html>

<html lang='en'>
  <head>
    <% include ../views/partials/_header %>
  </head>
  <body>
    <h4><font color='red'>Register Here</font></h4>
    <form action='/register' method='POST' style=''>
      <label for='emailReg'>Email Address:</label>
        <input id='emailReg' type='text' name='email' placeholder='Email' style='width: 150px'>
      <br>
      <label for='passwordReg'>Password:</label>
        <input id='passwordReg' type='password' name='password' placeholder='Password' style='width: 150px'>
      <br><input type='submit' value='Submit'>
    </form>
  </body>
</html>