<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/_header %>
  </head>
  <body>
    <h3>Shortened URL: <%= templateVars.shortURL%></h3>
    <h3>Long URL: <%= longURL%></h3>
    <form action="/urls/<%= templateVars.shortURL%>/edit" method="POST">
      <label for="newLongURL">Update the URL:</label>
      <input id="newLongURL" type="text" name="newLongURL" value="http://www." style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </body>
</html>