

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_header %>
</head>
<body>
  <h6>URL SHORTENED!</h6>
<!--   <li>Full URL: <br><%=fullURL%></br> </li>-->
 <li>Shortened URL:<br>http://localhost:8080/u/<%= templateVars.shortURL%></br></li>

</body>
</html>